@model TN.Models.UploadPublicImageViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("NewImageUpload", "Imagedump", FormMethod.Post, new { enctype = "multipart/form-data", @class = "sky-form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
 

    <header>Image Upload</header>

    <fieldset>


        <section>
            <label class="label">File input</label>
          
                @Html.TextBoxFor(model => model.File, new { @class = "fu-my-simple-upload", type = "file" })
                @Html.ValidationMessageFor(model => model.File)
         
        </section>

        <section>
            
       
            <label class="label">Description</label>
            <label class="input">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
             
            </label>
        </section>

        <button class="btn-u btn-u-lg btn-block btn-u-blue" type="submit">Upload</button>


    </fieldset>



}