@model TN.Models.ContactViewModel

@{
    Layout = "~/Views/Shared/_BlogPartial.cshtml";
    ViewBag.Title = "Contact";
}

<link href="~/Content/css/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/plugins/sky-forms/custom-sky-forms.css" rel="stylesheet" />

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">

        <!-- Begin Content -->
        <div class="col-md-9">


            <!-- Comments -->
            @*<form action="assets/php/demo-comment-process.php" method="post" id="sky-form4" class="sky-form">*@
            @using (Html.BeginForm("Contact", "Blog", FormMethod.Post, new { @class = "sky-form", role = "form" }))
            {

                <header>Shoot Me A Line!</header>

                <fieldset>
                    <div class="row">
                        <section class="col col-4">
                            @Html.LabelFor(x => x.Name, new { @class = "label" })
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(x => x.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-inline" })
                            </label>
                        </section>
                        <section class="col col-4">
                            @Html.LabelFor(x => x.EmailAddress, new { @class = "label" })
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                @Html.EditorFor(x => x.EmailAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-inline" })
                            </label>
                        </section>
                        <section class="col col-4">
                            @Html.LabelFor(x => x.UserWebSite, new { @class = "label" })
                            <label class="input">
                                <i class="icon-append fa fa-globe"></i>
                                @Html.EditorFor(x => x.UserWebSite, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserWebSite, null, new { @class = "help-inline" })
                            </label>
                        </section>
                    </div>

                    <section>
                        @Html.LabelFor(x => x.Body, new { @class = "label" })
                        <label class="textarea">                            
                            @Html.TextAreaFor(x => x.Body, new { @class = "form-control", rows = "8" })
                            @Html.ValidationMessageFor(m => m.Body, null, new { @class = "help-inline" })
                        </label>
                        <div class="note">If you have a great idea for the page or you would like for me to cover a specific subject in-depth, feel free to shoot me an E-mail! &nbsp; If you have a specific question to a post that you do not want to leave as a comment, this is a great way to send me a private message.  Cheers!</div>
                    </section>

                </fieldset>

                <footer>
                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </footer>
            }
            <!-- End Comments-->
        </div>
        <!-- End Content -->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->

