@model TN.Models.EditPostViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    DateTime date = Model.Date.Year > 2000 ? Model.Date : DateTime.Now;
    string tags = ViewBag.Tags;
}




@using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.Id)

    <div class="container content">
        <div class="row">
            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">

            </div>
            <!-- End Sidebar Menu -->
            <!-- Begin Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>




                <!-- Standard Form Controls -->
                <div class="tag-box tag-box-v3 form-page">
                    <div class="headline"><h3>Edit Post</h3></div>
                    <!--Inputs-->
                    <h4>Title</h4>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("DoublePost", new { @class = "help-inline" })



                    <h4>Date</h4>
                    @Html.EditorFor(model => date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, null, new { @class = "text-danger" })


                    <h4>Tags</h4>
                    @Html.EditorFor(model => tags, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, null, new { @class = "text-danger" })


                    <!--End Inputs-->
                    <div class="margin-bottom-40"></div>
                    <!--Textarea-->
                    <h4>Post Body</h4>
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", rows = "7", cols = "10" })
                    @Html.ValidationMessageFor(model => model.Body, null, new { @class = "text-danger" })
                    <div class="margin-bottom-40"></div>

                    <h4>Cover Photo</h4>
                    @Html.TextBoxFor(model => model.File, new { @class = "fu-my-simple-upload", type = "file" })
                    @Html.ValidationMessageFor(model => model.File)
                    <!--End Textarea-->
                    <div class="margin-bottom-40"></div>

                    <div class="margin-bottom-40"></div>

                    <button type="submit" id="submitButton" class="btn-u form-page">Submit</button>


                </div>


            </div>
            <!-- End Standard Form Controls -->


        </div>
        <!-- End Content -->
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}

@section appInit{
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/pages/index.js"></script>

    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
}