@using System.Globalization
@using TN.Models

@model PagedList.IPagedList<Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogPartial.cshtml";
    var inactivePage = ViewBag.inactive;
}
@if (User.IsInRole("Admin"))
{
    if (inactivePage != true)
    {
        <h5>
            @Html.ActionLink("Create A New Post", "Edit", "Blog")
        </h5>
        <h5>@Html.ActionLink("Deactivated Posts", "InactivePosts", "Blog")</h5>
        <br />
    }
    else if (inactivePage == true)
    {
        <h5>@Html.ActionLink("Back to Active Posts", "Index", "Blog")</h5>
    }


}

@foreach (var post in Model)
{
    <div class="blog margin-bottom-40">
        <div class="blog-img">
            <img class="img-responsive" src=@post.PhotoPath alt="">
        </div>
        <h2>@Html.ActionLink(@post.Title, "Post", "Blog", new { UrlTitle = post.UrlTitle }, null)</h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i>  @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(post.Date.Month) @post.Date.Day, @post.Date.Year</li>
                <li><i class="fa fa-pencil"></i> Oleg Shalygin</li>
                <li><i class="fa fa-cloud"></i> @post.Views Views</li>
                <li><i class="fa fa-comments"></i> @post.Comments.Count Comments</li>

            </ul>
            <ul class="list-unstyled list-inline blog-tags">
                <li>
                    <i class="fa fa-tags"></i>
                    @foreach (Tag tag in post.Tags)
                    {
                        @Html.ActionLink(tag.Name + " ", "Tags", "Blog", new { tagName = tag.Name }, null)
                    }
                </li>
            </ul>
        </div>

        @Html.Raw(post.Preview)

        <a href="/Blog/Post/@post.UrlTitle"><button type="button" id=@post.UrlTitle class="btn-u btn-u-sm pull-right">Read More</button></a>
        <br />
        <br />
    </div>
}



@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.TwitterBootstrapPager)
