@using System.Activities.Statements
@using TN.BLL.Utility
@model PagedList.IPagedList<Post>

@{
    ViewBag.Title = "Search Results for  " + ViewBag.SearchedFor;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section extraStyles{

    <link href="~/Content/css/pages/page_search_inner.css" rel="stylesheet" />
}

@Html.Partial("_BreadCrumbs")


@using (Html.BeginForm("SearchResults", "Blog", FormMethod.Get))
{
    <div class="search-block-v2">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h2>Search again</h2>
                <div class="input-group">

                    <input type="search" class="form-control" name="searchTerm">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
<!--/container-->
<!--=== End Search Block Version 2 ===-->
<!--=== Search Results ===-->
<div class="container s-results margin-bottom-50">
    <div class="row">
        <div class="col-md-2 hidden-xs related-search">
            <div class="row">
                <div class="col-md-12 col-sm-4">
                    <h3>Trending</h3>
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink("Home Page", "Index", "Blog")</li>
                        <li>@Html.ActionLink("Terms And Conditions", "TermsOfService", "Home")</li>
                        <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                    </ul>
                    <hr>
                </div>




            </div>
        </div><!--/col-md-2-->
        @Html.Partial("_SearchQueryResults", Model)


    </div>
</div><!--/container-->
<!--=== End Search Results ===-->
@section scripts{
    
}